a{
	text-decoration: none;
}
img {
   position: absolute;
   top: 50%;
   left: 50%;
   height: 95px;
   width: 269px;
   margin-top: -200px;
   margin-left: -134.5px;
   
   
}
form input{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 27px;
	width: 570px;
	margin-top: -70px;
	margin-left: -280px;

}
#searchbutton{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 27px;
	width: 98px;
	font-family: Arial, sans-serif;
	text-align: center;
	margin-top: -30px;
	margin-left: -120px;

}
